/* css fiera_lightBox */

#lbOverlay, .lbOverlay {
	position: absolute;
	left: 0;
	width: 100%;
	background-color: #000;
	cursor: pointer;
}


/*
li -> убираем точку
*/

 li {	list-style-type: none;}

.popup_text {display: none;}



#lbCenter, .lbCenter, #lbBottomContainer, .lbBottomContainer {
	position: absolute;
	left: 50%;
	overflow: hidden;
	background-color: #fff;
}

.lbLoading {
	background: #fff url(loading.gif) no-repeat center;
}

#lbImage, .lbImage {
	border: 10px solid #fff;
	background-repeat: no-repeat;
}

#lbPrevLink, .lbPrevLink, #lbNextLink, .lbNextLink {
	display: block;
	position: absolute;
	top: 0;
	width: 50%;
	outline: none;
}

#lbPrevLink, .lbPrevLink {
	left: 0;
}

#lbPrevLink:hover, .lbPrevLink:hover {
	background: transparent url(prevlabel.gif) no-repeat 0% 15%;
}

#lbNextLink, .lbNextLink {
	right: 0;
}

#lbNextLink:hover, .lbNextLink:hover {
	background: transparent url(nextlabel.gif) no-repeat 100% 15%;
}

#lbBottom, .lbBottom {
	font-family: Verdana, Helvetica, sans-serif;
	font-size: 10px;
	color: #666;
	line-height: 1.4em;
	text-align: left;
	border: 10px solid #fff;
	border-top-style: none;
}

#lbCloseLink, .lbCloseLink {
	display: block;
	float: right;
	width: 66px;
	height: 22px;
	background: transparent url(closelabel.gif) no-repeat center;
	margin: 5px 0;
}

#lbCaption, #lbNumber, .lbCaption, .lbNumber {
	margin-right: 71px;
}

#lbCaption, .lbCaption {
	font-weight: bold;
}
